
### Examining racial discrimination in the US job market

#### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

#### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes.

#### Exercise
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Discuss statistical significance.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import toolz
%matplotlib inline

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [4]:
# number of callbacks for white-sounding names
sum(data[data.race=='w'].call)

235.0

In [5]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1,0,1,0,0,0,0,0,0,
1,b,1,3,3,6,0,1,1,0,316,...,1,0,1,0,0,0,0,0,0,
2,b,1,4,1,6,0,0,0,0,19,...,1,0,1,0,0,0,0,0,0,
3,b,1,3,4,6,0,1,0,1,313,...,1,0,1,0,0,0,0,0,0,
4,b,1,3,3,22,0,0,0,0,313,...,1,1,0,0,0,0,0,1,0,Nonprofit

### 1. What test is appropriate for this problem? Does CLT apply?

###   2. What are the null and alternate hypotheses?

Null hypotheses states that both means are the same while the alternative hypotheses states that the two means are not equal.

$H_{0}: \mu_{\bar{x}} - \mu_{\bar{y}} = 0$

$H_{a}: \mu_{\bar{x}} - \mu_{\bar{y}} > 0$

###   3. Compute margin of error, confidence interval, and p-value.

In [6]:
white = data[data["race"] == "w"].call

black = data[data["race"] == "b"].call

#Difference of means
dof = white.mean() - black.mean()
print("The difference in means between the two populations is %.3f" % dof)

The difference in means between the two populations is 0.032

#### We will use a 95% confidence interval with the z score.

$\sigma_{\bar{x}-\bar{y}} = \sqrt{\frac{\sigma^{2}_{x}}{n} + \frac{\sigma^{2}_{y}}{m}}$

In [8]:
test = (white.mean()*(1-white.mean())/len(white)) + (black.mean()*(1-black.mean())/len(black))
#Standard deviation
ssd = np.sqrt(black.std()**2/len(black) + white.std()**2/len(white))

#Margin of error
#me = 1.65 * se
#print("The standard error is %.4f and the margin of error is %.4f." % (sse, me))
test

6.058085767999738e-05

In [ ]:
#Calculate the Z score
zscore = (sm-98.6)/(se)
print("The z score is %.2f." % zscore)

In [ ]:
#Calculate the p value
pval = stats.norm.cdf(zscore)
print("The p value for the z score is %.8f%%" % (pval*100))