In [11]:
%matplotlib inline
import pandas as pd
import numpy as np
import chardet
from fuzzywuzzy import fuzz

In [2]:
df = pd.read_csv('1033-program-foia-may-2014.csv')

In [3]:
df.columns

Index([u'State', u'County', u'NSN', u'Item Name', u'Quantity', u'UI',
       u'Acquisition Cost', u'Ship Date'],
      dtype='object')

In [5]:
df.describe()

            Quantity  Acquisition Cost
count  243492.000000     243492.000000
mean       11.289784       6181.218025
std       242.904563     115278.044069
min         1.000000          0.000000
25%         1.000000         60.450000
50%         1.000000        200.000000
75%         4.000000        499.000000
max     91000.000000   18000000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243492 entries, 0 to 243491
Data columns (total 8 columns):
State               243492 non-null object
County              243422 non-null object
NSN                 243309 non-null object
Item Name           239658 non-null object
Quantity            243492 non-null int64
UI                  243491 non-null object
Acquisition Cost    243492 non-null float64
Ship Date           243492 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 16.7+ MB

In [41]:
df2 = pd.DataFrame({'test1':[1,2,3,4], 'test2':[5,6,7,8]}, index=['A', 'B', 'C', 'D'])
df2['test3'] = np.nan
df2 = df2.replace([2,3], np.nan)
df2.test3.fillna('missing', inplace=True)
#df2 = df2.dropna(axis=0)
df2

   test1  test2    test3
A      1      5  missing
B    NaN      6  missing
C    NaN      7  missing
D      4      8  missing