# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [53]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [30]:
document = ET.parse( './data/mondial_database.xml' )

In [62]:
names, mortalities = [], []
for country in document.iterfind('country'):
    name = country.find('name').text
    try:
        mort = country.find('infant_mortality').text
    except:
        mort = np.nan
    names.append(name)
    mortalities.append(mort)
morts = pd.Series(mortalities, index=names)
morts = morts[morts.notnull()].sort_values()
morts.head(10)

Monaco                   1.81
Romania                 10.16
Fiji                     10.2
Brunei                  10.48
Grenada                  10.5
Mauritius               10.59
Panama                   10.7
Seychelles              10.77
United Arab Emirates    10.92
Barbados                10.93
dtype: object

In [106]:
names, populations = [], []
for city in document.iter('city'):
    name = city.find('name').text
    population = city.findall('population')
    for i in population:
        if i.attrib['year'] == '2011':
            pop = int(i.text)
    populations.append(pop)
    names.append(name)

pops = pd.Series(populations, names)
pops.sort_values(ascending=False)

Mumbai              12442373
Delhi               11034555
Hubli                8443675
Bangalore            8443675
Mysore               8443675
London               8250205
Tehran               8154051
Dhaka                7423137
Thimphu              6731790
Warangal             6731790
Dehra Dun            6731790
Hyderabad            6731790
Ahmadabad            5577940
Lubango              5000000
Caxito               5000000
Dolisie              5000000
Sibiti               5000000
Kinkala              5000000
Ngiva                5000000
Huambo               5000000
Namibe               5000000
Menongue             5000000
Owando               5000000
Luena                5000000
Bie                  5000000
Benguela             5000000
Saurimo              5000000
Lucapa               5000000
Malanje              5000000
Sumbe                5000000
                      ...
Paradise                6699
Washington              6699
Sunrise Manor           6699
Spring Valley           6699
Lexington               6699
Jackson                 6699
Minneapolis             6699
Boston                  6699
Frankfort               6699
New Orleans             6699
Baton Rouge             6699
Shreveport              6699
Lafayette               6699
Augusta                 6699
Baltimore               6699
Ann Arbor               6699
Annapolis               6699
Worcester               6699
Springfield             6699
Lowell                  6699
Detroit                 6699
Grand Rapids            6699
Warren                  6699
Flint                   6699
Lansing                 6699
Sterling Heights        6699
Fort Collins            6699
Fakaofo                  490
Port Vila                490
Mata-Utu                 490
dtype: int64