In [9]:
#Basics
%matplotlib inline
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as pyplot
from toolz import *

In [3]:
#gss = pd.read_stata('GSS7214_R4.DTA')
#gss.head(1)
gss = pd.read_stata('GSS7214_R4.DTA', convert_categoricals=False, convert_missing=True)

In [4]:
gss.head(1)

,year,id,wrkstat,hrs1,hrs2,evwork,occ,prestige,wrkslf,wrkgovt,...,res2012,cshutyp06,cshutyp08,cshutyp10,cshutyp12,wtss,wtssnr,wtssall,vstrat,vpsu
0,1972,1,1,.i,.i,.i,205,50,2,.i,...,.,.i,.i,.i,.i,1,1,0.4446,.i,.i

In [5]:
gss.describe()

,year,id,sex,race,reg16,region,xnorcsiz,srcbelt,size,spjewaj,formwt,sample,oversamp,wtss,wtssnr,wtssall
count,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.000000,59599.00000,59599.000000,59599.000000,59599.000000,59599.000000
mean,1993.017534,1137.341616,1.558952,1.241715,4.340291,4.905149,4.399772,3.986862,380.750566,0.000067,1.000007,6.52521,0.999995,1.000092,1.000029,1.000017
std,12.296335,830.973829,0.496517,0.534363,2.547681,2.453449,2.903625,1.541329,1278.284081,0.016385,0.201046,2.61286,0.093398,0.297629,0.312061,0.460132
min,1972.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.402000,1.00000,0.377800,0.396555,0.293074,0.396555
25%,1983.000000,497.000000,1.000000,1.000000,2.000000,3.000000,2.000000,3.000000,6.000000,0.000000,1.000000,6.00000,1.000000,1.000000,1.000000,0.550100
50%,1994.000000,1011.000000,2.000000,1.000000,4.000000,5.000000,3.000000,5.000000,24.000000,0.000000,1.000000,8.00000,1.000000,1.000000,1.000000,1.007200
75%,2004.000000,1524.000000,2.000000,1.000000,6.000000,7.000000,7.000000,5.000000,111.000000,0.000000,1.000000,9.00000,1.000000,1.000000,1.000000,1.098500
max,2014.000000,4510.000000,2.000000,3.000000,9.000000,9.000000,10.000000,6.000000,8175.000000,4.000000,7.180000,10.00000,1.241000,8.739876,11.068476,8.739876

In [20]:
all_columns = list(gss.columns.values)
#print(type(all_columns))
len(all_columns)

5619

In [21]:
dist_columns = list(unique(all_columns))
#print(type(dist_columns)) 
len(dist_columns)

5619

In [24]:
print(gss.hrs1.describe())

count     59599
unique       93
top          .i
freq      24903
Name: hrs1, dtype: object